[submodule "oobleck/csrc/modules/concurrentqueue"]
	path = oobleck/csrc/modules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "oobleck/csrc/modules/json"]
	path = oobleck/csrc/modules/json
	url = https://github.com/nlohmann/json
[submodule "oobleck/csrc/modules/parallel-hashmap"]
	path = oobleck/csrc/modules/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
